<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <style type="text/css" src='/style.css'></style>
    <title>Timing App - Vue.js</title>
</head>
<body>
    <app>
        
        <div id="todos">
            <ol>
                <todo-item 
                v-for='item in groceryList' 
                v-bind:todo='item' 
                v-bind:key='item.id'>    
                </todo-item>
            </ol>
        </div>

        <!-- 
            The nav will currently do nothing until the backend has been built out 
        -->
        <!-- <nav></nav> -->
        <h1>Timer application</h1>
        <!-- 
            Timer will cycle through each of the tasks until it reaches the end.  
        -->
        <div id='activity-timer'>
            <!-- <activity-info v-bind:activity='activity'></activity-info> -->
            <activity-title 
            v-bind:activity='activity'
            v-bind:key='activity.id'>
            </activity-title>
            <activity-clock v-bind:time='time'></activity-clock>
        </div>

        <div id='activity-timer-controls'>
            <skip-button></skip-button>
            <restart-button></restart-button>
            <startstop-button></startstop-button>
            <pauseplay-button></pauseplay-button>
        </div>
        
        <!-- 
            The Task List lists each timing item - with the current activity highlighted. 
        -->
        <div id='activity-list'>
            <ol><activity-item 
            v-for='activity in activityList' 
            v-bind:activity='activity'
            v-bind:key='activity.id'></activity-item>
            </ol>
        </div>

        <div id='activity-add'></div>
    </app>

    <script src="vue/dist/vue.js"></script>
    <script type="text/javascript" src="script.js">
    </script>
</body>